Repository brysonbw/lit-toaster, changes with the labels that .github/labeler.yml gives for each.
All labels: pr::docs, pr::code, pr::types, pr::tests, pr::github, pr::ci

.github/labeler.yml:

'pr::docs':
  - changed-files:
      - any-glob-to-any-file: '**.md'

'pr::code':
  - changed-files:
      - any-glob-to-any-file: ['src/**/*.js', 'src/**/*.ts']

'pr::types':
  - changed-files:
      - any-glob-to-any-file: ['typedoc.ts', 'types.ts', 'typings.ts']

'pr::tests':
  - changed-files:
      - any-glob-to-any-file:
          ['tests/**.js', 'tests/**.ts', '**/*.test.js', '**/*.test.ts']

'pr::github':
  - changed-files:
      - any-glob-to-any-file: '.github/**'

'pr::ci':
  - changed-files:
      - any-glob-to-any-file:
          ['rollup.config.js', 'tsconfig.json', 'vite.config.ts']

'pr::feature':
  - head-branch: ['feature', 'feat', 'enhancement']

'pr::patch':
  - head-branch: ['update', 'edit']

'pr::fix':
  - head-branch: ['fix', 'bug']

fix(toaster-element): prevent "global is not defined" error in Rollup by treating file as a module
  src/toaster-element.ts
  src/typings.ts
Labels: pr::code

fix(toaster-element): prevent "global is not defined" error in Rollup by treating file as a module (#50)
  src/toaster-element.ts
  src/typings.ts
Labels: pr::code

chore(repo): update node and npm version
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  package.json
Labels: pr::github

format files
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
Labels: pr::github

update node versions in matrix set
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: pr::github

chore(repo): update node and npm version (#51)
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test.yml
  package.json
Labels: pr::github

chore(workflows): remove NODE_AUTH_TOKEN from NPM publish step
  .github/workflows/publish.yml
Labels: pr::github

chore(workflows): remove NODE_AUTH_TOKEN from npm publish step (#52)
  .github/workflows/publish.yml
Labels: pr::github

chore(release): v0.2.6
  CHANGELOG.md
  dist/index.d.ts
  dist/lit-toaster.js
  package-lock.json
  package.json
Labels: pr::docs

chore(deps): bump deps
  package-lock.json
  package.json
Labels: none

chore(deps): bump deps (#75)
  package-lock.json
  package.json
Labels: none

chore(release): v0.2.7
  CHANGELOG.md
  dist/lit-toaster.js
  docs/api-reference/classes/ToastEmitter.md
  package-lock.json
  package.json
Labels: pr::docs

chore(deps): bump deps
  package-lock.json
  package.json
Labels: none

chore(deps): bump deps (#77)
  package-lock.json
  package.json
Labels: none

chore(pnpm): migrate to pnpm
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pr::docs, pr::github

fix failing lint job
  .github/workflows/lint.yml
  package.json
  pnpm-lock.yaml
Labels: pr::github

update styles type to CSSResult in ToasterElement
  src/toaster-element.ts
Labels: pr::code

add importHelpers option to compilerOptions
  tsconfig.json
Labels: pr::ci

add tslib and update jsdom and eslint-plugin-security versions
  package.json
  pnpm-lock.yaml
  rollup.config.js
Labels: pr::ci

chore(build): migrate to pnpm (#78)
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rollup.config.js
  src/toaster-element.ts
  tsconfig.json
Labels: pr::docs, pr::code, pr::github, pr::ci

chore(workflows): update dependency installation to use pnpm with frozen lockfile
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
Labels: pr::github

chore(workflows): update pnpm installation order (#79)
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
Labels: pr::github

chore(release): update after:bump script to include pnpm-lock.yaml
  package.json
Labels: none

chore(release): update after:bump script to include pnpm-lock.yaml (#80)
  package.json
Labels: none

chore(release): v0.2.8
  CHANGELOG.md
  dist/index.d.ts
  dist/lit-toaster.js
  package.json
Labels: pr::docs

chore(release): v0.2.8
  CHANGELOG.md
Labels: pr::docs

chore(release): v0.2.8
  CHANGELOG.md
  dist/index.d.ts
  dist/lit-toaster.js
  package.json
Labels: pr::docs

chore(release): v0.2.8
  CHANGELOG.md
Labels: pr::docs

chore(workflows): update after:bump script to include pnpm-lock.yaml
  package.json
Labels: none

chore(workflows): update after:bump script to include pnpm-lock.yaml (#83)
  package.json
Labels: none

chore(workflows): update permissions and fix release PR title format for release job
  .github/workflows/release-pr.yml
Labels: pr::github

chore(workflows): update permissions and fix release PR title format for release job (#84)
  .github/workflows/release-pr.yml
Labels: pr::github

chore(release): v0.2.8
  CHANGELOG.md
  dist/index.d.ts
  dist/lit-toaster.js
  package.json
Labels: pr::docs

chore(release): v0.2.8
  CHANGELOG.md
Labels: pr::docs

chore(release): v0.2.8
  CHANGELOG.md
  dist/index.d.ts
  dist/lit-toaster.js
  package.json
Labels: pr::docs

chore(release): v0.2.8 (#86)
  CHANGELOG.md
  dist/index.d.ts
  dist/lit-toaster.js
  package.json
Labels: pr::docs
