Repository brysonbw/lit-toaster, changes with the labels that .github/labeler.yml gives for each.
All labels: pr::docs, pr::code, pr::types, pr::tests, pr::github, pr::ci

chore(release): v0.1.0
  CHANGELOG.md
  dist/index.d.ts
  dist/lit-toaster.js
  docs/api-reference/README.md
  docs/api-reference/classes/ToastEmitter.md
  docs/api-reference/enumerations/ToastEmitterEvent.md
  docs/api-reference/type-aliases/Toast.md
  docs/api-reference/type-aliases/ToastKind.md
  docs/api-reference/type-aliases/ToastPosition.md
  docs/api-reference/variables/toast.md
  package-lock.json
  package.json
Labels: pr::docs

Add lit decorators to eternal deps in build config
  rollup.config.js
Labels: pr::ci

Add lit as per dep
  package-lock.json
  package.json
Labels: none

Resolve dup lit dev dep warning (#2)
  package-lock.json
  package.json
  rollup.config.js
Labels: pr::ci

chore(release): v0.1.1
  CHANGELOG.md
  dist/lit-toaster.js
  package-lock.json
  package.json
Labels: pr::docs

Update build declaration file
  src/typings.ts
Labels: pr::code

Add site/link to readme
  README.md
Labels: pr::docs

Update homepage url
  package.json
Labels: none

Update build declaration file (#4)
  src/typings.ts
Labels: pr::code

Add main site to docs (#5)
  README.md
  package.json
Labels: pr::docs

chore(release): v0.1.2
  CHANGELOG.md
  dist/index.d.ts
  dist/lit-toaster.js
  package-lock.json
  package.json
Labels: pr::docs

Bump deps
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: pr::github

Bump deps (#10)
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: pr::github

Add toast enter/leave animation
  src/toaster-element.ts
Labels: pr::code

Add toast state animation prop
  src/types.ts
Labels: pr::code

Account for toast animation duration before toast removal
  src/constants.ts
  src/toast-emitter.ts
Labels: pr::code

Update unit tests
  src/testing/mocks/toast.ts
  src/tests/toast-emitter.test.ts
  src/tests/toaster-element.test.ts
Labels: pr::code, pr::tests

Fix typo
  README.md
Labels: pr::docs

format file
  .github/dependabot.yml
Labels: pr::github

Add toast animation on enter/leave (#11)
  .github/dependabot.yml
  README.md
  src/constants.ts
  src/testing/mocks/toast.ts
  src/tests/toast-emitter.test.ts
  src/tests/toaster-element.test.ts
  src/toast-emitter.ts
  src/toaster-element.ts
  src/types.ts
Labels: pr::docs, pr::code, pr::tests, pr::github

chore(release): v0.2.0
  CHANGELOG.md
  dist/index.d.ts
  dist/lit-toaster.js
  docs/api-reference/README.md
  docs/api-reference/classes/ToastEmitter.md
  docs/api-reference/type-aliases/Toast.md
  docs/api-reference/type-aliases/ToastState.md
  package-lock.json
  package.json
Labels: pr::docs

Replace queue text with toasts text
  README.md
  src/tests/toast-emitter.test.ts
  src/tests/toaster-element.test.ts
  src/toast-emitter.ts
  src/toaster-element.ts
  src/types.ts
Labels: pr::docs, pr::code, pr::tests

Replace queue text with toasts text (#13)
  README.md
  src/tests/toast-emitter.test.ts
  src/tests/toaster-element.test.ts
  src/toast-emitter.ts
  src/toaster-element.ts
  src/types.ts
Labels: pr::docs, pr::code, pr::tests

chore(release): v0.2.1
  CHANGELOG.md
  dist/index.d.ts
  dist/lit-toaster.js
  docs/api-reference/classes/ToastEmitter.md
  docs/api-reference/enumerations/ToastEmitterEvent.md
  package-lock.json
  package.json
Labels: pr::docs

Fix typo in toast example - add button text
  README.md
Labels: pr::docs

Bump deps
  package-lock.json
  package.json
Labels: none

Fix typo in toast example (#17)
  README.md
  package-lock.json
  package.json
Labels: pr::docs

chore(release): v0.2.2
  CHANGELOG.md
  dist/lit-toaster.js
  package-lock.json
  package.json
Labels: pr::docs

Bump deps
  package-lock.json
  package.json
Labels: none

Update node versions in workflows
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test.yml
Labels: pr::github

Bump deps (#23)
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Labels: pr::github

chore(release): v0.2.3
  CHANGELOG.md
  dist/lit-toaster.js
  package-lock.json
  package.json
Labels: pr::docs

chore(deps): bump deps
  package-lock.json
  package.json
Labels: none

chore(deps): bump deps (#31)
  package-lock.json
  package.json
Labels: none

chore(release): v0.2.4
  CHANGELOG.md
  dist/lit-toaster.js
  docs/api-reference/classes/ToastEmitter.md
  package-lock.json
  package.json
Labels: pr::docs

chore(deps): bump deps
  package-lock.json
  package.json
Labels: none

chore(deps): bump deps (#39)
  package-lock.json
  package.json
Labels: none

chore(release): v0.2.5
  CHANGELOG.md
  dist/lit-toaster.js
  package-lock.json
  package.json
Labels: pr::docs

chore(deps): bump deps
  package-lock.json
  package.json
Labels: none

chore(deps): bump deps (#49)
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

'pr::docs':
  - changed-files:
      - any-glob-to-any-file: '**.md'

'pr::code':
  - changed-files:
      - any-glob-to-any-file: ['src/**/*.js', 'src/**/*.ts']

'pr::types':
  - changed-files:
      - any-glob-to-any-file: ['typedoc.ts', 'types.ts', 'typings.ts']

'pr::tests':
  - changed-files:
      - any-glob-to-any-file:
          ['tests/**.js', 'tests/**.ts', '**/*.test.js', '**/*.test.ts']

'pr::github':
  - changed-files:
      - any-glob-to-any-file: '.github/**'

'pr::ci':
  - changed-files:
      - any-glob-to-any-file:
          ['rollup.config.js', 'tsconfig.json', 'vite.config.ts']

'pr::feature':
  - head-branch: ['feature', 'feat', 'enhancement']

'pr::patch':
  - head-branch: ['update', 'edit']

'pr::fix':
  - head-branch: ['fix', 'bug']
